In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import os

In [2]:
cd = os.getcwd()
print(cd)
data_path = os.path.join(cd, 'data')
print(data_path)

d:\VSC\machine-learning-project\dataProcessing
d:\VSC\machine-learning-project\dataProcessing\data

## Movies revenue processing

In [124]:
gross = pd.read_csv(os.path.join(data_path, 'data.csv'))

In [125]:
gross.describe

<bound method NDFrame.describe of      Rank                              Release Group     Worldwide  \
0       1                             Dune: Part Two  $697,757,968
1       2            Godzilla x Kong: The New Empire  $489,580,032
2       3                            Kung Fu Panda 4  $482,850,846
3       4                Ghostbusters: Frozen Empire  $177,549,359
4       5                       Bob Marley: One Love  $177,193,170
...   ...                                        ...           ...
5043  197  The Broken Hearts Club: A Romantic Comedy    $2,019,121
5044  198                          Cecil B. Demented    $1,961,544
5045  199       The Life and Times of Hank Greenberg    $1,712,385
5046  200                     The Girl on the Bridge    $1,708,839
5047  NaN                                        NaN           NaN

          Domestic      %       Foreign    %.1  Year
0     $277,757,968  39.8%  $420,000,000  60.2%  2024
1     $174,480,032  35.6%  $315,100,000  64.4%  2024
2     $181,449,090  37.6%  $301,401,756  62.4%  2024
3     $104,137,915  58.7%   $73,411,444  41.3%  2024
4      $96,893,170  54.7%   $80,300,000  45.3%  2024
...            ...    ...           ...    ...   ...
5043    $1,746,585  86.5%      $272,536  13.5%  2000
5044    $1,284,646  65.5%      $676,898  34.5%  2000
5045    $1,712,385   100%             -      -  2000
5046    $1,708,839   100%             -      -  2000
5047           NaN    NaN           NaN    NaN  2000

[5048 rows x 8 columns]>

In [126]:
gross.shape

(5048, 8)

In [127]:
gross = gross.drop(['%','%.1'], axis=1)

In [128]:
gross.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5048 entries, 0 to 5047
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rank           5023 non-null   object
 1   Release Group  5023 non-null   object
 2   Worldwide      5023 non-null   object
 3   Domestic       5023 non-null   object
 4   Foreign        5023 non-null   object
 5   Year           5048 non-null   object
dtypes: object(6)
memory usage: 236.8+ KB

In [173]:
duplicate_gross = gross[gross.duplicated(keep=False)]
duplicate_gross

Empty DataFrame
Columns: [Release Group, Worldwide, Domestic, Foreign, Year]
Index: []

In [174]:
duplicate_gross.shape

(0, 5)

In [186]:
# drop duplicate rows
gross = gross.drop_duplicates(keep=False)

In [187]:
# Check if there are duplicate row
duplicate_gross = gross[gross.duplicated()]
duplicate_gross

Empty DataFrame
Columns: [Release Group, Worldwide, Domestic, Foreign, Year]
Index: []

In [ ]:
gross = gross.drop('Rank', axis=1)

In [147]:
# remove dollar symbol and commas
gross['Domestic'] = gross['Domestic'].str.replace('[\$,]','', regex=True) # regular expression
gross['Foreign'] = gross['Foreign'].str.replace('[\$,]', '', regex=True)
gross['Worldwide'] = gross['Worldwide'].str.replace('[\$,]', '', regex=True)
gross.loc[(gross['Domestic'] == '-') | (gross['Worldwide'] == '-') | (gross['Foreign'] == '-')]

Empty DataFrame
Columns: [Rank, Release Group, Worldwide, Domestic, Foreign, Year]
Index: []

In [179]:
gross.loc[(gross['Domestic'].isnull() == True), 'Domestic'] = 0
gross.loc[(gross['Foreign'].isnull() == True ),'Foreign'] = 0
gross

,Release Group,Worldwide,Domestic,Foreign,Year
0,Dune: Part Two,697757968,277757968,420000000,2024
1,Godzilla x Kong: The New Empire,489580032,174480032,315100000,2024
2,Kung Fu Panda 4,482850846,181449090,301401756,2024
3,Ghostbusters: Frozen Empire,177549359,104137915,73411444,2024
4,Bob Marley: One Love,177193170,96893170,80300000,2024
...,...,...,...,...,...
5042,Hamlet,2046433,1577287,469146,2000
5043,The Broken Hearts Club: A Romantic Comedy,2019121,1746585,272536,2000
5044,Cecil B. Demented,1961544,1284646,676898,2000
5045,The Life and Times of Hank Greenberg,1712385,1712385,0,2000
5046,The Girl on the Bridge,1708839,1708839,0,2000

In [195]:
# check if there is null
gross.isnull().any()
gross.info()
gross.iloc[200]
gross = gross.drop(200)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5001 entries, 0 to 5000
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Release Group  5001 non-null   object
 1   Worldwide      5001 non-null   object
 2   Domestic       5001 non-null   object
 3   Foreign        5001 non-null   object
 4   Year           5001 non-null   object
dtypes: object(5)
memory usage: 195.5+ KB

In [196]:
gross.loc[gross['Domestic'].str.isnumeric() == False]

Empty DataFrame
Columns: [Release Group, Worldwide, Domestic, Foreign, Year]
Index: []

In [197]:
gross = gross.reset_index(drop=True)

In [198]:
gross

,Release Group,Worldwide,Domestic,Foreign,Year
0,Dune: Part Two,697757968,277757968,420000000,2024
1,Godzilla x Kong: The New Empire,489580032,174480032,315100000,2024
2,Kung Fu Panda 4,482850846,181449090,301401756,2024
3,Ghostbusters: Frozen Empire,177549359,104137915,73411444,2024
4,Bob Marley: One Love,177193170,96893170,80300000,2024
...,...,...,...,...,...
4995,Hamlet,2046433,1577287,469146,2000
4996,The Broken Hearts Club: A Romantic Comedy,2019121,1746585,272536,2000
4997,Cecil B. Demented,1961544,1284646,676898,2000
4998,The Life and Times of Hank Greenberg,1712385,1712385,0,2000
4999,The Girl on the Bridge,1708839,1708839,0,2000

In [202]:
gross['Domestic'] = gross['Domestic'].astype(float)
gross['Foreign'] = gross['Foreign'].astype(float)
gross['Worldwide'] = gross['Worldwide'].astype(float)
gross['Year'] = gross['Year'].astype(int)

In [203]:
gross.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Release Group  5000 non-null   object
 1   Worldwide      5000 non-null   float64
 2   Domestic       5000 non-null   float64
 3   Foreign        5000 non-null   float64
 4   Year           5000 non-null   int32
dtypes: float64(3), int32(1), object(1)
memory usage: 175.9+ KB

In [204]:
gross.to_csv('processed_data.csv')

## Movies info processing

In [220]:
df = pd.read_csv(os.path.join(data_path, 'movies_info.csv'))
df

,Domestic Opening,Name,Domestic Distributor,Earliest Release Date,MPAA,Running Time,Genres,Overview,Actors,Film makers
0,"$82,505,391",Dune: Part Two,Warner Bros.,"February 28, 2024 (EMEA, APAC)",PG-13,2 hr 46 min,Action Adventure Drama Sci-Fi,Paul Atreides unites with Chani and the Fremen...,"['Timothée Chalamet', 'Zendaya', 'Rebecca Ferg...","['Denis Villeneuve', 'Denis Villeneuve', 'Jon ..."
1,"$80,006,561",Godzilla x Kong: The New Empire,Warner Bros.,"March 27, 2024 (APAC)",PG-13,1 hr 55 min,Action Adventure Sci-Fi Thriller,"Two ancient titans, Godzilla and Kong, clash i...","['Rebecca Hall', 'Brian Tyree Henry', 'Dan Ste...","['Adam Wingard', 'Terry Rossio', 'Simon Barret..."
2,"$57,989,905",Kung Fu Panda 4,Universal Pictures,"March 6, 2024 (APAC, EMEA)",PG,1 hr 34 min,Action Adventure Animation Comedy Family Fantasy,After Po is tapped to become the Spiritual Lea...,"['Jack Black', 'Awkwafina', 'Viola Davis', 'Du...","['Mike Mitchell', 'Stephanie Stine', 'Jonathan..."
3,"$45,004,673",Ghostbusters: Frozen Empire,Sony Pictures Releasing,"March 20, 2024 (Indonesia)",PG-13,1 hr 55 min,Adventure Comedy Fantasy Sci-Fi,When the discovery of an ancient artifact unle...,"['Paul Rudd', 'Carrie Coon', 'Finn Wolfhard', ...","['Gil Kenan', 'Gil Kenan', 'Jason Reitman', 'I..."
4,"$28,659,004",Bob Marley: One Love,Paramount Pictures,"February 14, 2024 (11 markets)",PG-13,1 hr 47 min,Biography Drama Music,The story of how reggae icon Bob Marley overca...,"['Kingsley Ben-Adir', 'Lashana Lynch', 'James ...","['Reinaldo Marcus Green', 'Terence Winter', 'F..."
...,...,...,...,...,...,...,...,...,...,...
5451,NaN,Blood Simple,Circle Films,"January 18, 1985 (Domestic)",NaN,1 hr 39 min,Crime Drama Thriller,The owner of a seedy small-town Texas bar disc...,"['John Getz', 'Frances McDormand', 'Dan Hedaya...","['Joel Coen', 'Ethan Coen', 'Joel Coen', 'Etha..."
5452,NaN,Marlene,NaN,"March 9, 2000 (Germany)",NaN,2 hr 12 min,Biography Drama Music,The movie follows the life and personality of ...,"['Katja Flint', 'Hans Werner Meyer', 'Herbert ...","['Joseph Vilsmaier', 'Christian Pfannenschmidt..."
5453,"$62,253",Hamlet,Miramax,"May 12, 2000 (Domestic)",R,1 hr 52 min,Drama Romance Thriller,Modern-day New York City adaptation of Shakesp...,"['Ethan Hawke', 'Kyle MacLachlan', 'Diane Veno...","['Michael Almereyda', 'William Shakespeare', '..."
5454,"$109,694",The Broken Hearts Club: A Romantic Comedy,Sony Pictures Classics,"September 29, 2000 (Domestic)",NaN,1 hr 34 min,Comedy Drama Romance Sport,An insight into the turbulent lives and loves ...,"['Timothy Olyphant', 'Dean Cain', 'Zach Braff'...","['Greg Berlanti', 'Greg Berlanti', 'Mickey Lid..."
5455,"$127,141",Cecil B. Demented,Artisan Entertainment,"August 11, 2000 (Domestic)",R,1 hr 27 min,Comedy Crime Thriller,An insane independent film director and his re...,"['Melanie Griffith', 'Stephen Dorff', 'Alicia ...","['John Waters', 'John Waters', 'Joseph M. Cara..."

In [221]:
#xoá hàng đầu tiên 
df = df.drop(0)
df.head()

,Domestic Opening,Name,Domestic Distributor,Earliest Release Date,MPAA,Running Time,Genres,Overview,Actors,Film makers
1,"$80,006,561",Godzilla x Kong: The New Empire,Warner Bros.,"March 27, 2024 (APAC)",PG-13,1 hr 55 min,Action Adventure Sci-Fi Thriller,"Two ancient titans, Godzilla and Kong, clash i...","['Rebecca Hall', 'Brian Tyree Henry', 'Dan Ste...","['Adam Wingard', 'Terry Rossio', 'Simon Barret..."
2,"$57,989,905",Kung Fu Panda 4,Universal Pictures,"March 6, 2024 (APAC, EMEA)",PG,1 hr 34 min,Action Adventure Animation Comedy Family Fantasy,After Po is tapped to become the Spiritual Lea...,"['Jack Black', 'Awkwafina', 'Viola Davis', 'Du...","['Mike Mitchell', 'Stephanie Stine', 'Jonathan..."
3,"$45,004,673",Ghostbusters: Frozen Empire,Sony Pictures Releasing,"March 20, 2024 (Indonesia)",PG-13,1 hr 55 min,Adventure Comedy Fantasy Sci-Fi,When the discovery of an ancient artifact unle...,"['Paul Rudd', 'Carrie Coon', 'Finn Wolfhard', ...","['Gil Kenan', 'Gil Kenan', 'Jason Reitman', 'I..."
4,"$28,659,004",Bob Marley: One Love,Paramount Pictures,"February 14, 2024 (11 markets)",PG-13,1 hr 47 min,Biography Drama Music,The story of how reggae icon Bob Marley overca...,"['Kingsley Ben-Adir', 'Lashana Lynch', 'James ...","['Reinaldo Marcus Green', 'Terence Winter', 'F..."
5,"$16,576,007",The Beekeeper,Metro-Goldwyn-Mayer (MGM),"January 10, 2024 (Belgium)",R,1 hr 45 min,Action Thriller,One man's brutal campaign for vengeance takes ...,"['Jason Statham', 'Emmy Raver-Lampman', 'Bobby...","['David Ayer', 'Kurt Wimmer', 'David Ayer', 'B..."

In [222]:
df.describe

<bound method NDFrame.describe of      Domestic Opening                                       Name  \
1         $80,006,561            Godzilla x Kong: The New Empire
2         $57,989,905                            Kung Fu Panda 4
3         $45,004,673                Ghostbusters: Frozen Empire
4         $28,659,004                       Bob Marley: One Love
5         $16,576,007                              The Beekeeper
...               ...                                        ...
5451              NaN                               Blood Simple
5452              NaN                                    Marlene
5453          $62,253                                     Hamlet
5454         $109,694  The Broken Hearts Club: A Romantic Comedy
5455         $127,141                          Cecil B. Demented

           Domestic Distributor           Earliest Release Date   MPAA  \
1                  Warner Bros.           March 27, 2024 (APAC)  PG-13
2            Universal Pictures      March 6, 2024 (APAC, EMEA)     PG
3       Sony Pictures Releasing      March 20, 2024 (Indonesia)  PG-13
4            Paramount Pictures  February 14, 2024 (11 markets)  PG-13
5     Metro-Goldwyn-Mayer (MGM)      January 10, 2024 (Belgium)      R
...                         ...                             ...    ...
5451               Circle Films     January 18, 1985 (Domestic)    NaN
5452                        NaN         March 9, 2000 (Germany)    NaN
5453                    Miramax         May 12, 2000 (Domestic)      R
5454     Sony Pictures Classics   September 29, 2000 (Domestic)    NaN
5455      Artisan Entertainment      August 11, 2000 (Domestic)      R

     Running Time                                            Genres  \
1     1 hr 55 min                  Action Adventure Sci-Fi Thriller
2     1 hr 34 min  Action Adventure Animation Comedy Family Fantasy
3     1 hr 55 min                   Adventure Comedy Fantasy Sci-Fi
4     1 hr 47 min                             Biography Drama Music
5     1 hr 45 min                                   Action Thriller
...           ...                                               ...
5451  1 hr 39 min                              Crime Drama Thriller
5452  2 hr 12 min                             Biography Drama Music
5453  1 hr 52 min                            Drama Romance Thriller
5454  1 hr 34 min                        Comedy Drama Romance Sport
5455  1 hr 27 min                             Comedy Crime Thriller

                                               Overview  \
1     Two ancient titans, Godzilla and Kong, clash i...
2     After Po is tapped to become the Spiritual Lea...
3     When the discovery of an ancient artifact unle...
4     The story of how reggae icon Bob Marley overca...
5     One man's brutal campaign for vengeance takes ...
...                                                 ...
5451  The owner of a seedy small-town Texas bar disc...
5452  The movie follows the life and personality of ...
5453  Modern-day New York City adaptation of Shakesp...
5454  An insight into the turbulent lives and loves ...
5455  An insane independent film director and his re...

                                                 Actors  \
1     ['Rebecca Hall', 'Brian Tyree Henry', 'Dan Ste...
2     ['Jack Black', 'Awkwafina', 'Viola Davis', 'Du...
3     ['Paul Rudd', 'Carrie Coon', 'Finn Wolfhard', ...
4     ['Kingsley Ben-Adir', 'Lashana Lynch', 'James ...
5     ['Jason Statham', 'Emmy Raver-Lampman', 'Bobby...
...                                                 ...
5451  ['John Getz', 'Frances McDormand', 'Dan Hedaya...
5452  ['Katja Flint', 'Hans Werner Meyer', 'Herbert ...
5453  ['Ethan Hawke', 'Kyle MacLachlan', 'Diane Veno...
5454  ['Timothy Olyphant', 'Dean Cain', 'Zach Braff'...
5455  ['Melanie Griffith', 'Stephen Dorff', 'Alicia ...

                                            Film makers
1     ['Adam Wingard', 'Terry Rossio', 'Simon Barret...
2     ['Mike Mitchell', 'Stephanie Stine', 'Jonathan...
3     ['Gil Kenan', 'Gil Kenan', 'Jason Reitman', 'I...
4     ['Reinaldo Marcus Green', 'Terence Winter', 'F...
5     ['David Ayer', 'Kurt Wimmer', 'David Ayer', 'B...
...                                                 ...
5451  ['Joel Coen', 'Ethan Coen', 'Joel Coen', 'Etha...
5452  ['Joseph Vilsmaier', 'Christian Pfannenschmidt...
5453  ['Michael Almereyda', 'William Shakespeare', '...
5454  ['Greg Berlanti', 'Greg Berlanti', 'Mickey Lid...
5455  ['John Waters', 'John Waters', 'Joseph M. Cara...

[5455 rows x 10 columns]>

In [223]:
df.shape

(5455, 10)

In [224]:
#các ô trống trong data
df.isnull().sum()

Domestic Opening         1355
Name                        0
Domestic Distributor     1245
Earliest Release Date       7
MPAA                     1603
Running Time               31
Genres                   2473
Overview                   67
Actors                     26
Film makers                26
dtype: int64

In [225]:
#drop doanh thu domestic
df = df.drop(df.columns[0], axis=1)

In [226]:
#tách earliest release data thành ngày ra mắt và nơi ra mắt đầu tiên
# Tách thành hai cột earlies release date và earliest release region
df[['Earliest Release date', 'Earliest Release region']] = df['Earliest Release Date'].str.split('(', expand=True)

# Loại bỏ dấu ngoặc đơn ở cuối của cột 'region'
df['Earliest Release region'] = df['Earliest Release region'].str.rstrip(')')

# Loại bỏ dấu cách thừa ở đầu và cuối của cả hai cột
df['Earliest Release date'] = df['Earliest Release date'].str.strip()
df['Earliest Release region'] = df['Earliest Release region'].str.strip()

# Hiển thị DataFrame sau khi tách
df = df.drop('Earliest Release Date', axis=1)
# Di chuyển cột mới tạo đến thứ 2 và 3
col_date = df.columns[8]
col_reg = df.columns[9]
df.insert(2, col_date, df.pop(col_date))
df.insert(3, col_reg, df.pop(col_reg))
#in ra df
df

,Name,Domestic Distributor,Earliest Release date,Earliest Release region,MPAA,Running Time,Genres,Overview,Actors,Film makers
1,Godzilla x Kong: The New Empire,Warner Bros.,"March 27, 2024",APAC,PG-13,1 hr 55 min,Action Adventure Sci-Fi Thriller,"Two ancient titans, Godzilla and Kong, clash i...","['Rebecca Hall', 'Brian Tyree Henry', 'Dan Ste...","['Adam Wingard', 'Terry Rossio', 'Simon Barret..."
2,Kung Fu Panda 4,Universal Pictures,"March 6, 2024","APAC, EMEA",PG,1 hr 34 min,Action Adventure Animation Comedy Family Fantasy,After Po is tapped to become the Spiritual Lea...,"['Jack Black', 'Awkwafina', 'Viola Davis', 'Du...","['Mike Mitchell', 'Stephanie Stine', 'Jonathan..."
3,Ghostbusters: Frozen Empire,Sony Pictures Releasing,"March 20, 2024",Indonesia,PG-13,1 hr 55 min,Adventure Comedy Fantasy Sci-Fi,When the discovery of an ancient artifact unle...,"['Paul Rudd', 'Carrie Coon', 'Finn Wolfhard', ...","['Gil Kenan', 'Gil Kenan', 'Jason Reitman', 'I..."
4,Bob Marley: One Love,Paramount Pictures,"February 14, 2024",11 markets,PG-13,1 hr 47 min,Biography Drama Music,The story of how reggae icon Bob Marley overca...,"['Kingsley Ben-Adir', 'Lashana Lynch', 'James ...","['Reinaldo Marcus Green', 'Terence Winter', 'F..."
5,The Beekeeper,Metro-Goldwyn-Mayer (MGM),"January 10, 2024",Belgium,R,1 hr 45 min,Action Thriller,One man's brutal campaign for vengeance takes ...,"['Jason Statham', 'Emmy Raver-Lampman', 'Bobby...","['David Ayer', 'Kurt Wimmer', 'David Ayer', 'B..."
...,...,...,...,...,...,...,...,...,...,...
5451,Blood Simple,Circle Films,"January 18, 1985",Domestic,NaN,1 hr 39 min,Crime Drama Thriller,The owner of a seedy small-town Texas bar disc...,"['John Getz', 'Frances McDormand', 'Dan Hedaya...","['Joel Coen', 'Ethan Coen', 'Joel Coen', 'Etha..."
5452,Marlene,NaN,"March 9, 2000",Germany,NaN,2 hr 12 min,Biography Drama Music,The movie follows the life and personality of ...,"['Katja Flint', 'Hans Werner Meyer', 'Herbert ...","['Joseph Vilsmaier', 'Christian Pfannenschmidt..."
5453,Hamlet,Miramax,"May 12, 2000",Domestic,R,1 hr 52 min,Drama Romance Thriller,Modern-day New York City adaptation of Shakesp...,"['Ethan Hawke', 'Kyle MacLachlan', 'Diane Veno...","['Michael Almereyda', 'William Shakespeare', '..."
5454,The Broken Hearts Club: A Romantic Comedy,Sony Pictures Classics,"September 29, 2000",Domestic,NaN,1 hr 34 min,Comedy Drama Romance Sport,An insight into the turbulent lives and loves ...,"['Timothy Olyphant', 'Dean Cain', 'Zach Braff'...","['Greg Berlanti', 'Greg Berlanti', 'Mickey Lid..."
5455,Cecil B. Demented,Artisan Entertainment,"August 11, 2000",Domestic,R,1 hr 27 min,Comedy Crime Thriller,An insane independent film director and his re...,"['Melanie Griffith', 'Stephen Dorff', 'Alicia ...","['John Waters', 'John Waters', 'Joseph M. Cara..."

In [227]:
# drop duplicated row
df = df.drop_duplicates()

In [228]:
# check if there is duplicated row
df[df.duplicated()]

Empty DataFrame
Columns: [Name, Domestic Distributor, Earliest Release date, Earliest Release region, MPAA, Running Time, Genres, Overview, Actors, Film makers]
Index: []

In [229]:
df.isnull().sum()

Name                          0
Domestic Distributor       1127
Earliest Release date         7
Earliest Release region       8
MPAA                       1461
Running Time                 29
Genres                     2170
Overview                     62
Actors                       25
Film makers                  25
dtype: int64

In [233]:
df.shape

(4825, 10)

In [232]:
count_null = df.isnull().sum(axis=1) > 3
df[count_null]

,Name,Domestic Distributor,Earliest Release date,Earliest Release region,MPAA,Running Time,Genres,Overview,Actors,Film makers
22,A Strange House,NaN,"March 15, 2024",Japan,NaN,NaN,Mystery Thriller,NaN,"['Kôji Ishizaka', 'Rina Kawaei', 'Shôtarô Mami...","[""Jun'ichi Ishikawa""]"
38,The Chosen: S4 Episodes 1-3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,The Chosen: S4 Episodes 4-6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,The Chosen: S4 Episodes 7-8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,"April, Come She Will",NaN,"March 22, 2024",Japan,NaN,1 hr 48 min,Drama Mystery Romance,NaN,NaN,NaN
83,Gap Lai Chi Bau,NaN,"February 2, 2024",Vietnam,NaN,1 hr 54 min,Comedy Romance,NaN,NaN,NaN
93,Lovesick Ellie,NaN,"March 15, 2024",Japan,NaN,1 hr 48 min,NaN,NaN,NaN,NaN
103,Columbia 100th Anniversary Series,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123,Kral Sakir: Devler Uyandi,NaN,"February 16, 2024",Türkiye,NaN,NaN,Adventure Animation Comedy,NaN,"['Atilla Sendil', 'Mustafa Oral', 'Didem Atlih...","['Haluk Can Dizdaroglu', 'Berk Tokay', 'Haluk ..."
130,Atatürk 1881 - 1919,NaN,"November 9, 2023",Germany,NaN,NaN,Biography Drama History,NaN,NaN,NaN
142,Salle des profs,NaN,"March 6, 2024",France,NaN,NaN,Comedy,NaN,"['Marie Kremer', 'Bernard Yerlès', 'Mélissa Di...","['Christophe Bourdon', 'Pierre-Yves Wathour', ..."
147,Love You as the World Ends: Episode #4.5,NaN,"January 26, 2024",Japan,NaN,NaN,Action Horror Mystery Romance,NaN,"['Ryoma Takeuchi', 'Tina Tamashiro', 'Marie Ii...",['Yû Kanda']
170,Matka v trapu,NaN,"February 29, 2024",Czech Republic,NaN,NaN,Comedy Drama,NaN,"['Vojtech Babista', 'Petra Hrebícková', 'Bohum...","['Hana Hendrychová', 'Uljana Donátová', 'Uljan..."
187,Unknown Title,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
301,I Wish I Could Meet You Again on the Hill Wher...,NaN,"December 8, 2023",Japan,NaN,NaN,NaN,NaN,NaN,NaN
367,Samurai Beyond Admiration Record to the World'...,NaN,"June 2, 2023",Japan,NaN,NaN,NaN,NaN,NaN,NaN
518,"Utapri Movie 2, Uta No Prince-Sama Maji Love S...",NaN,"September 2, 2022",Japan,NaN,NaN,NaN,NaN,NaN,NaN
527,The Chosen Season 3: Episode 1 & 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
556,Vaillante,NaN,"January 26, 2022",France,NaN,2 hr 7 min,Drama,NaN,NaN,NaN
683,Detective Conan: The Scarlet Alibi,NaN,"February 11, 2021",Japan,NaN,1 hr 33 min,Animation Crime Mystery,NaN,NaN,NaN
791,Takizawa Enbujo Zero,NaN,"December 4, 2020",Japan,NaN,2 hr 19 min,Music Musical,NaN,NaN,NaN
1054,Warrior of the Hornor,NaN,"December 5, 2019",China,NaN,NaN,Action Drama,NaN,NaN,NaN
1079,The Confidence Man JP,NaN,"May 17, 2019",Japan,NaN,45 min,Comedy Crime Drama,NaN,NaN,NaN
1169,Your connection was interrupted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1197,Code Blue: The Movie,NaN,"July 27, 2018",Japan,NaN,2 hr 7 min,Drama,NaN,NaN,NaN
1659,Pandora,NaN,"December 7, 2016",South Korea,NaN,NaN,NaN,NaN,NaN,NaN
2411,Gekijouban Tenpesuto 3D,NaN,"July 16, 2011",Japan,NaN,NaN,History,NaN,"['Junko Amagi', 'Gackt', 'Charles Glover', 'Yu...","['Yoshiyuki Yoshimura', 'Eiichi Ikenaga']"
4016,Twosabu ilchae,NaN,"January 19, 2006",South Korea,NaN,NaN,NaN,NaN,NaN,NaN
4267,Most Beautiful Week in My Life,NaN,"October 7, 2005",South Korea,NaN,NaN,NaN,NaN,NaN,NaN
4980,Family Honor,NaN,"September 13, 2002",South Korea,NaN,NaN,NaN,NaN,NaN,NaN
5044,Toei Spring Anime Fair,NaN,"March 2, 2002",Japan,NaN,NaN,NaN,NaN,NaN,NaN

In [235]:
# lấy các phim có mục Genres (thể loại) không null
data = df[df['Genres'].notnull()]

In [236]:
#lấy các phim có mục Overview, Actors không null
data = data[(df['Overview'].notnull()) & (df['Actors'].notnull())]
data

C:\Users\Phuong Trang\AppData\Local\Temp\ipykernel_23932\2164125518.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  data = data[(df['Overview'].notnull()) & (df['Actors'].notnull())]

,Name,Domestic Distributor,Earliest Release date,Earliest Release region,MPAA,Running Time,Genres,Overview,Actors,Film makers
1,Godzilla x Kong: The New Empire,Warner Bros.,"March 27, 2024",APAC,PG-13,1 hr 55 min,Action Adventure Sci-Fi Thriller,"Two ancient titans, Godzilla and Kong, clash i...","['Rebecca Hall', 'Brian Tyree Henry', 'Dan Ste...","['Adam Wingard', 'Terry Rossio', 'Simon Barret..."
2,Kung Fu Panda 4,Universal Pictures,"March 6, 2024","APAC, EMEA",PG,1 hr 34 min,Action Adventure Animation Comedy Family Fantasy,After Po is tapped to become the Spiritual Lea...,"['Jack Black', 'Awkwafina', 'Viola Davis', 'Du...","['Mike Mitchell', 'Stephanie Stine', 'Jonathan..."
3,Ghostbusters: Frozen Empire,Sony Pictures Releasing,"March 20, 2024",Indonesia,PG-13,1 hr 55 min,Adventure Comedy Fantasy Sci-Fi,When the discovery of an ancient artifact unle...,"['Paul Rudd', 'Carrie Coon', 'Finn Wolfhard', ...","['Gil Kenan', 'Gil Kenan', 'Jason Reitman', 'I..."
4,Bob Marley: One Love,Paramount Pictures,"February 14, 2024",11 markets,PG-13,1 hr 47 min,Biography Drama Music,The story of how reggae icon Bob Marley overca...,"['Kingsley Ben-Adir', 'Lashana Lynch', 'James ...","['Reinaldo Marcus Green', 'Terence Winter', 'F..."
5,The Beekeeper,Metro-Goldwyn-Mayer (MGM),"January 10, 2024",Belgium,R,1 hr 45 min,Action Thriller,One man's brutal campaign for vengeance takes ...,"['Jason Statham', 'Emmy Raver-Lampman', 'Bobby...","['David Ayer', 'Kurt Wimmer', 'David Ayer', 'B..."
...,...,...,...,...,...,...,...,...,...,...
5451,Blood Simple,Circle Films,"January 18, 1985",Domestic,NaN,1 hr 39 min,Crime Drama Thriller,The owner of a seedy small-town Texas bar disc...,"['John Getz', 'Frances McDormand', 'Dan Hedaya...","['Joel Coen', 'Ethan Coen', 'Joel Coen', 'Etha..."
5452,Marlene,NaN,"March 9, 2000",Germany,NaN,2 hr 12 min,Biography Drama Music,The movie follows the life and personality of ...,"['Katja Flint', 'Hans Werner Meyer', 'Herbert ...","['Joseph Vilsmaier', 'Christian Pfannenschmidt..."
5453,Hamlet,Miramax,"May 12, 2000",Domestic,R,1 hr 52 min,Drama Romance Thriller,Modern-day New York City adaptation of Shakesp...,"['Ethan Hawke', 'Kyle MacLachlan', 'Diane Veno...","['Michael Almereyda', 'William Shakespeare', '..."
5454,The Broken Hearts Club: A Romantic Comedy,Sony Pictures Classics,"September 29, 2000",Domestic,NaN,1 hr 34 min,Comedy Drama Romance Sport,An insight into the turbulent lives and loves ...,"['Timothy Olyphant', 'Dean Cain', 'Zach Braff'...","['Greg Berlanti', 'Greg Berlanti', 'Mickey Lid..."
5455,Cecil B. Demented,Artisan Entertainment,"August 11, 2000",Domestic,R,1 hr 27 min,Comedy Crime Thriller,An insane independent film director and his re...,"['Melanie Griffith', 'Stephen Dorff', 'Alicia ...","['John Waters', 'John Waters', 'Joseph M. Cara..."

In [237]:
data.isnull().sum()

Name                          0
Domestic Distributor       1067
Earliest Release date         0
Earliest Release region       1
MPAA                       1399
Running Time                  6
Genres                        0
Overview                      0
Actors                        0
Film makers                   0
dtype: int64

In [238]:
#lấy các phim có mục Domestic Distribution (nhà phát hành) không null
data = data[data['Domestic Distributor'].notnull()]

In [239]:
data.isnull().sum()

Name                         0
Domestic Distributor         0
Earliest Release date        0
Earliest Release region      1
MPAA                       428
Running Time                 0
Genres                       0
Overview                     0
Actors                       0
Film makers                  0
dtype: int64

In [240]:
# Thay các giá trị null trong trường 'MPAA' thành 'G' - phù hợp mọi lứa tuổi
data['MPAA'].fillna('G', inplace=True)
data.isnull().sum()

C:\Users\Phuong Trang\AppData\Local\Temp\ipykernel_23932\2533501524.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['MPAA'].fillna('G', inplace=True)
C:\Users\Phuong Trang\AppData\Local\Temp\ipykernel_23932\2533501524.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['MPAA'].fillna('G', inplace=True)

Name                       0
Domestic Distributor       0
Earliest Release date      0
Earliest Release region    1
MPAA                       0
Running Time               0
Genres                     0
Overview                   0
Actors                     0
Film makers                0
dtype: int64

In [242]:
# Thay các giá trị null trong trường 'Earliest Release region' thành 'domestic'
data.loc[:,'Earliest Release region'].fillna('domestic', inplace=True)
data

C:\Users\Phuong Trang\AppData\Local\Temp\ipykernel_23932\2979633945.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data.loc[:,'Earliest Release region'].fillna('domestic', inplace=True)
C:\Users\Phuong Trang\AppData\Local\Temp\ipykernel_23932\2979633945.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.loc[:,'Earliest Release region'].fillna('domestic', inplace=True)

,Name,Domestic Distributor,Earliest Release date,Earliest Release region,MPAA,Running Time,Genres,Overview,Actors,Film makers
1,Godzilla x Kong: The New Empire,Warner Bros.,"March 27, 2024",APAC,PG-13,1 hr 55 min,Action Adventure Sci-Fi Thriller,"Two ancient titans, Godzilla and Kong, clash i...","['Rebecca Hall', 'Brian Tyree Henry', 'Dan Ste...","['Adam Wingard', 'Terry Rossio', 'Simon Barret..."
2,Kung Fu Panda 4,Universal Pictures,"March 6, 2024","APAC, EMEA",PG,1 hr 34 min,Action Adventure Animation Comedy Family Fantasy,After Po is tapped to become the Spiritual Lea...,"['Jack Black', 'Awkwafina', 'Viola Davis', 'Du...","['Mike Mitchell', 'Stephanie Stine', 'Jonathan..."
3,Ghostbusters: Frozen Empire,Sony Pictures Releasing,"March 20, 2024",Indonesia,PG-13,1 hr 55 min,Adventure Comedy Fantasy Sci-Fi,When the discovery of an ancient artifact unle...,"['Paul Rudd', 'Carrie Coon', 'Finn Wolfhard', ...","['Gil Kenan', 'Gil Kenan', 'Jason Reitman', 'I..."
4,Bob Marley: One Love,Paramount Pictures,"February 14, 2024",11 markets,PG-13,1 hr 47 min,Biography Drama Music,The story of how reggae icon Bob Marley overca...,"['Kingsley Ben-Adir', 'Lashana Lynch', 'James ...","['Reinaldo Marcus Green', 'Terence Winter', 'F..."
5,The Beekeeper,Metro-Goldwyn-Mayer (MGM),"January 10, 2024",Belgium,R,1 hr 45 min,Action Thriller,One man's brutal campaign for vengeance takes ...,"['Jason Statham', 'Emmy Raver-Lampman', 'Bobby...","['David Ayer', 'Kurt Wimmer', 'David Ayer', 'B..."
...,...,...,...,...,...,...,...,...,...,...
5450,Left Luggage,Castle Hill Productions,"September 22, 2000",Domestic,G,1 hr 40 min,Drama,"Against a background of holocaust memories, a ...","['Laura Fraser', 'Adam Monty', 'Isabella Rosse...","['Jeroen Krabbé', 'Carl Friedman', 'Edwin de V..."
5451,Blood Simple,Circle Films,"January 18, 1985",Domestic,G,1 hr 39 min,Crime Drama Thriller,The owner of a seedy small-town Texas bar disc...,"['John Getz', 'Frances McDormand', 'Dan Hedaya...","['Joel Coen', 'Ethan Coen', 'Joel Coen', 'Etha..."
5453,Hamlet,Miramax,"May 12, 2000",Domestic,R,1 hr 52 min,Drama Romance Thriller,Modern-day New York City adaptation of Shakesp...,"['Ethan Hawke', 'Kyle MacLachlan', 'Diane Veno...","['Michael Almereyda', 'William Shakespeare', '..."
5454,The Broken Hearts Club: A Romantic Comedy,Sony Pictures Classics,"September 29, 2000",Domestic,G,1 hr 34 min,Comedy Drama Romance Sport,An insight into the turbulent lives and loves ...,"['Timothy Olyphant', 'Dean Cain', 'Zach Braff'...","['Greg Berlanti', 'Greg Berlanti', 'Mickey Lid..."
5455,Cecil B. Demented,Artisan Entertainment,"August 11, 2000",Domestic,R,1 hr 27 min,Comedy Crime Thriller,An insane independent film director and his re...,"['Melanie Griffith', 'Stephen Dorff', 'Alicia ...","['John Waters', 'John Waters', 'Joseph M. Cara..."

In [243]:
data.isnull().sum()

Name                       0
Domestic Distributor       0
Earliest Release date      0
Earliest Release region    0
MPAA                       0
Running Time               0
Genres                     0
Overview                   0
Actors                     0
Film makers                0
dtype: int64

In [244]:
#chuyển tên các phim thành 1 list
list_name = data['Name'].tolist()

In [248]:
list_name

['Godzilla x Kong: The New Empire',
 'Kung Fu Panda 4',
 'Ghostbusters: Frozen Empire',
 'Bob Marley: One Love',
 'The Beekeeper',
 'Mean Girls',
 'Madame Web',
 'Argylle',
 'Exhuma',
 'Civil War',
 'Haikyuu!! The Dumpster Battle',
 'Night Swim',
 'The First Omen',
 'Demon Slayer: Kimetsu No Yaiba - To the Hashira Training',
 'Imaginary',
 'Arthur the King',
 'Monkey Man',
 'Mobile Suit Gundam Seed Freedom',
 'Abigail',
 'Challengers',
 'Wicked Little Letters',
 'Immaculate',
 'Cabrini',
 'Ordinary Angels',
 'Back to Black',
 'The Ministry of Ungentlemanly Warfare',
 'Late Night with the Devil',
 'Alienoid: The Return to the Future',
 'Lisa Frankenstein',
 'Love Lies Bleeding',
 'The Fall Guy',
 'Unsung Hero',
 'Yolo',
 'Drive-Away Dolls',
 'I.S.S.',
 'Land of Bad',
 'The Book of Clarence',
 "SUGA: Agust D Tour 'D-DAY' the Movie",
 'Someone Like You',
 'Force of Nature: The Dry 2',
 'The Goat Life',
 'No Way Up',
 'Dune',
 'Crew',
 'Fighter',
 'Blue Lock: Episode Nagi',
 'We 12',
 'Bade Miyan Chote Miyan',
 'The American Society of Magical Negroes',
 'White Bird',
 'Tillu Square',
 'The Ark and the Darkness',
 'Out of Darkness',
 'Boy Kills World',
 'I Did It My Way',
 'The Promised Land',
 'Sleeping Dogs',
 "Miller's Girl",
 'Sting',
 'Barbie',
 'The Super Mario Bros. Movie',
 'Oppenheimer',
 'Guardians of the Galaxy Vol. 3',
 'Fast X',
 'Spider-Man: Across the Spider-Verse',
 'Wonka',
 'The Little Mermaid',
 'Elemental',
 'Ant-Man and the Wasp: Quantumania',
 'John Wick: Chapter 4',
 'Transformers: Rise of the Beasts',
 'Aquaman and the Lost Kingdom',
 'Meg 2: The Trench',
 'Indiana Jones and the Dial of Destiny',
 'The Hunger Games: The Ballad of Songbirds & Snakes',
 'Migration',
 "Five Nights at Freddy's",
 'Creed III',
 'The Flash',
 'The Nun II',
 'Taylor Swift: The Eras Tour',
 'Wish',
 'Sound of Freedom',
 'Napoleon',
 'Anyone But You',
 'Trolls Band Together',
 'Dungeons & Dragons: Honor Among Thieves',
 'The Marvels',
 'PAW Patrol: The Mighty Movie',
 'The Equalizer 3',
 'Insidious: The Red Door',
 'Teenage Mutant Ninja Turtles: Mutant Mayhem',
 'The Boy and the Heron',
 'Scream VI',
 'Killers of the Flower Moon',
 'Evil Dead Rise',
 'The Exorcist: Believer',
 'Shazam! Fury of the Gods',
 'Blue Beetle',
 'A Haunting in Venice',
 'Gran Turismo',
 'Haunted Mansion',
 'Poor Things',
 'Godzilla Minus One',
 'Pathaan',
 'Saw X',
 'The Creator',
 'Talk to Me',
 'Air',
 'Cocaine Bear',
 'No Hard Feelings',
 'The Roundup: No Way Out',
 "The Pope's Exorcist",
 'Plane',
 'The Color Purple',
 'The Boogeyman',
 '65',
 "Magic Mike's Last Dance",
 'Demon Slayer: Kimetsu No Yaiba - To the Swordsmith Village',
 'Spy x Family Code: White',
 'The Boys in the Boat',
 'Knock at the Cabin',
 'Mummies',
 'Jesus Revolution',
 'Asteroid City',
 'One Life',
 'Operation Fortune: Ruse de Guerre',
 'Missing',
 'The Zone of Interest',
 'Thanksgiving',
 'Ruby Gillman: Teenage Kraken',
 'The Iron Claw',
 'The Holdovers',
 'Renaissance: A Film by Beyoncé',
 'Ferrari',
 'Past Lives',
 '80 for Brady',
 'My Big Fat Greek Wedding 3',
 'The Expendables 4',
 'Ride On',
 'Strays',
 'Anatomy of a Fall',
 'Noryang: Deadly Sea',
 'Priscilla',
 'Concrete Utopia',
 'BTS: Yet to Come in Cinemas',
 'Book Club: The Next Chapter',
 'Jawan',
 'Toy Story',
 'Renfield',
 'Perfect Days',
 'American Fiction',
 'The Last Voyage of the Demeter',
 "Guy Ritchie's the Covenant",
 "Are You There God? It's Me, Margaret.",
 'Radical',
 'Saltburn',
 'Dumb Money',
 'All of Us Strangers',
 'Champions',
 'Retribution',
 'Next Goal Wins',
 'The Blackening',
 'About My Father',
 'The Blind',
 'Hypnotic',
 'Shin Kamen Rider',
 'Joy Ride',
 'Dunki',
 'Epic Tails',
 'Dr. Cheon and Lost Talisman',
 'Sisu',
 'Jeanne du Barry',
 'His Only Son',
 'Bottoms',
 'Love Again',
 'Dream Scenario',
 'The Shift',
 'Beau Is Afraid',
 'After Death',
 'Tiger 3',
 'Jungle Bunch: Operation Meltdown',
 'Silent Night',
 "What's Love Got to Do with It?",
 'The Machine',
 'After Everything',
 'The Nightmare Before Christmas',
 'The Crime Is Mine',
 'Freelance',
 'The Peasants',
 'Kandahar',
 'House Party',
 'The Animal Kingdom',
 'The Wandering Earth II',
 'Avatar: The Way of Water',
 'Top Gun: Maverick',
 'Jurassic World Dominion',
 'Doctor Strange in the Multiverse of Madness',
 'Minions: The Rise of Gru',
 'Black Panther: Wakanda Forever',
 'The Batman',
 'Thor: Love and Thunder',
 'Water Gate Bridge',
 'Puss in Boots: The Last Wish',
 'Fantastic Beasts: The Secrets of Dumbledore',
 'Uncharted',
 'Sonic the Hedgehog 2',
 'Black Adam',
 'Elvis',
 'The Bad Guys',
 'Bullet Train',
 'Lightyear',
 'Smile',
 'Too Cool to Kill',
 'DC League of Super-Pets',
 'The Lost City',
 'M3GAN',
 'One Piece Film: Red',
 'Nope',
 'Ticket to Paradise',
 'Morbius',
 'RRR',
 'The Black Phone',
 'The First Slam Dunk',
 'Where the Crawdads Sing',
 'Everything Everywhere All at Once',
 'Scream',
 'Death on the Nile',
 'Suzume',
 'A Man Called Otto',
 'Lyle, Lyle, Crocodile',
 'Halloween Ends',
 'The Roundup',
 'The Woman King',
 'Downton Abbey: A New Era',
 'K.G.F: Chapter 2',
 "Don't Worry Darling",
 'Dragon Ball Super: Super Hero',
 'Dog',
 'Jackass Forever',
 'The Menu',
 'Violent Night',
 'Strange World',
 'The Northman',
 'Moonfall',
 'Babylon',
 'Whitney Houston: I Wanna Dance with Somebody',
 'Beast',
 'The Whale',
 'Hansan: Rising Dragon',
 'Ambulance',
 'Marry Me',
 'Brahmastra Part One: Shiva',
 'The Banshees of Inisherin',
 'The Fabelmans',
 'Barbarian',
 'Prey for the Devil',
 'Paws of Fury: The Legend of Hank',
 'The Invitation',
 'Orphan: First Kill',
 "The Bob's Burgers Movie",
 'Hunt',
 'Tad the Lost Explorer and the Emerald Tablet',
 'BTS Permission to Dance on Stage - Seoul: Live Viewing',
 'Shin Ultraman',
 'Amsterdam',
 'Mrs. Harris Goes to Paris',
 'Vikram',
 'The Unbearable Weight of Massive Talent',
 'Tár',
 'The 355',
 'Triangle of Sadness',
 'The Kashmir Files',
 'The Witch: Part 2 - The Other One',
 'Decision to Leave',
 'See How They Run',
 'Ponniyin Selvan: Part I',
 'Monster',
 'Devotion',
 'Father Stu',
 'Turning Red',
 'Emergency Declaration',
 'The Amazing Maurice',
 'Three Thousand Years of Longing',
 'School of Magical Animals 2',
 'After Ever Happy',
 'Broker',
 'The Quintessential Quintuplets Movie',
 'Fall',
 'Radhe Shyam',
 'Blacklight',
 'Bones and All',
 'Terrifier 2',
 'Firestarter',
 'Bros',
 'X',
 'The Duke',
 'She Said',
 'Bodies Bodies Bodies',
 'Memory',
 'The Legend of Maula Jatt',
 'Glass Onion',
 'Moonage Daydream',
 'Easter Sunday',
 'Living',
 'Laal Singh Chaddha',
 'Alienoid',
 'That Time I Got Reincarnated as a Slime the Movie: Scarlet Bond',
 'Till',
 'Name',
 'Jug Jugg Jeeyo',
 'Empire of Light',
 'The Eight Mountains',
 'Rise',
 'Men',
 'The Beasts',
 'F3: Fun and Frustration',
 'Pearl',
 'Spider-Man: No Way Home',
 'Redeeming Love',
 'Women Talking',
 'Samrat Prithviraj',
 'Aftersun',
 'Shotgun Wedding',
 'Vikram Vedha',
 'Acharya',
 'The Battle at Lake Changjin',
 'No Time to Die',
 'F9: The Fast Saga',
 'Detective Chinatown 3',
 'Venom: Let There Be Carnage',
 'Godzilla vs. Kong',
 'Shang-Chi and the Legend of the Ten Rings',
 'Sing 2',
 'Eternals',
 'Black Widow',
 'Free Guy',
 'A Quiet Place Part II',
 'Encanto',
 'Cruella',
 'My Country, My Parents',
 'Jungle Cruise',
 'The Conjuring: The Devil Made Me Do It',
 'Raging Fire',
 'Ghostbusters: Afterlife',
 'Cliff Walkers',
 'Jujutsu Kaisen 0',
 'Space Jam: A New Legacy',
 'The Matrix Resurrections',
 'Peter Rabbit 2: The Runaway',
 'House of Gucci',
 "A Writer's Odyssey",
 'The Boss Baby 2: Family Business',
 'PAW Patrol: The Movie',
 'Tom & Jerry',
 'Raya and the Last Dragon',
 "The King's Man",
 'The Addams Family 2',
 'My Love',
 'Clifford the Big Red Dog',
 'Wrath of Man',
 'Evangelion: 3.0+1.01 Thrice Upon a Time',
 'End Game',
 'Old',
 'Mortal Kombat',
 'Candyman',
 'The Forever Purge',
 'West Side Story',
 "Hitman's Wife's Bodyguard",
 'Escape Room: Tournament of Champions',
 'Belle',
 "Ron's Gone Wrong",
 "Don't Breathe 2",
 'Schemes in Antiques',
 'Luca',
 'Belfast',
 "My Hero Academia: World Heroes' Mission",
 'The French Dispatch',
 'In the Heights',
 'Spirit Untamed',
 'Resident Evil: Welcome to Raccoon City',
 'Spiral',
 'Snake Eyes',
 'The Night House',
 'Drive My Car',
 'The Worst Person in the World',
 'Aline',
 'The Protégé',
 'Lost Illusions',
 'Pushpa: The Rise - Part 1',
 'The Mauritanian',
 'Judas and the Black Messiah',
 'The Eight Hundred',
 'Demon Slayer: Kimetsu no Yaiba - The Movie: Mugen Train',
 'Tenet',
 'Jiang Ziya',
 'The Croods: A New Age',
 'Wonder Woman 1984',
 'Onward',
 'Soul',
 'Mulan',
 'The Rescue',
 'Greenland',
 'Vanguard',
 'Trolls World Tour',
 'The New Mutants',
 'After We Collided',
 'Unhinged',
 'The War with Grandpa',
 'Peninsula',
 'Monster Hunter',
 'Underwater',
 'Sarileru Neekevvaru',
 'The Man Standing Next',
 'Honest Thief',
 'The Witches',
 'Scoob!',
 'Leap',
 'The Father',
 'Gretel & Hansel',
 'Moana',
 "Fate/stay night [Heaven's Feel] III. spring song",
 'Promising Young Woman',
 'Freaky',
 'Digimon Adventure: Last Evolution Kizuna',
 'Baaghi 3',
 'The Way Back',
 'The Personal History of David Copperfield',
 'Come Play',
 'News of the World',
 'Let Him Go',
 'My Spy',
 '100% Wolf',
 '10 Days with Dad',
 'Malasaña 32',
 'Downhill',
 'Malang',
 'My Donkey, My Lover & I',
 'Antebellum',
 'Spirited Away',
 'Princess Mononoke',
 'Fatale',
 'Chhapaak',
 "My Boyfriend's Meds",
 'Bill & Ted Face the Music',
 'The Innocent',
 'Twiceborn',
 'Hocus Pocus',
 'Mama Weed',
 'Cats & Dogs 3: Paws Unite',
 'Run',
 'The Real Exorcist',
 'Military Wives',
 'Panga',
 'Fast & Furious Presents: Hobbs & Shaw',
 'Ne Zha',
 'The Wandering Earth',
 'My People, My Country',
 'The Captain',
 'The Bravest',
 'Better Days',
 'Weathering with You',
 'The White Storm 2: Drug Lords',
 'Ip Man 4: The Finale',
 'The Climbers',
 'Looking Up',
 'P Storm',
 'Line Walker 2: Invisible Spy',
 'One Piece: Stampede',
 'Exit',
 'War',
 'White Snake',
 'Ashfall',
 'Les Misérables',
 'Chasing the Dragon II: Wild Wild Bunch',
 'Judy',
 'Uri: The Surgical Strike',
 'Pain and Glory',
 'The Bad Guys: The Movie',
 'Bharat',
 'The Kid Who Would Be King',
 'Anna',
 'My Dear Liar',
 'The Wild Goose Lake',
 'My Hero Academia: Heroes Rising',
 'Gully Boy',
 'Total Dhamaal',
 'Missing Link',
 'No Manches Frida 2',
 'The Gangster, the Cop, the Devil',
 'Super 30',
 'Skyfire',
 'Pinocchio',
 'Only Cloud Knows',
 'Dark Waters',
 'The Farewell',
 'Late Night',
 'Hotel Mumbai',
 'Avengers: Infinity War',
 'Black Panther',
 'Incredibles 2',
 'Aquaman',
 'Ant-Man and the Wasp',
 'Operation Red Sea',
 'Detective Chinatown 2',
 'Monster Hunt 2',
 'Smallfoot',
 'The Island',
 'More Than Blue',
 'How Long Will I Love U',
 'A Wrinkle in Time',
 'A Cool Fish',
 'The Monkey King 3',
 'Book Club',
 'Along With the Gods: The Last 49 Days',
 'The Favourite',
 'Shadow',
 'Detective Dee: The Four Heavenly Kings',
 'Den of Thieves',
 'Hereditary',
 'Sanju',
 'Vice',
 'Searching',
 'Shoplifters',
 '12 Strong',
 'Life of the Party',
 'Capernaum',
 'Isle of Dogs',
 'Andhadhun',
 'Early Man',
 'Simmba',
 'Golden Job',
 'Mary Queen of Scots',
 'Uncle Drew',
 'Acrimony',
 'Asterix: The Secret of the Magic Potion',
 'Bajrangi Bhaijaan',
 'Winchester',
 "Long Day's Journey Into Night",
 'The Great Battle',
 'Thugs of Hindostan',
 'Show Dogs',
 'Believer',
 'The Spy Gone North',
 'On the Basis of Sex',
 'Till The End Of The World',
 'Nothing to Lose',
 'Mia and the White Lion',
 'Baaghi 2',
 'Beautiful Boy',
 'The Strangers: Prey at Night',
 'Free Solo',
 'Pad Man',
 'Mirai',
 'Default',
 'One Cut of the Dead',
 'Midnight Sun',
 'Hichki',
 'Keys to the Heart',
 'Stan & Ollie',
 'The Accidental Detective 2: In Action',
 'Pokémon the Movie: The Power of Us',
 'Padmaavat',
 "Won't You Be My Neighbor?",
 'Wolf Warrior 2',
 'Coco',
 'Justice League',
 'The Boss Baby',
 'Cars 3',
 'Wonder',
 'Kung Fu Yoga',
 'Baahubali 2: The Conclusion',
 'Journey to the West: The Demons Strike Back',
 'Paddington 2',
 'Youth',
 'The Shape of Water',
 'John Wick: Chapter 2',
 'Three Billboards Outside Ebbing, Missouri',
 'Duckweed',
 'Darkest Hour',
 'The Lego Ninjago Movie',
 'The Commuter',
 'Buddies in India',
 'Along With the Gods: The Two Worlds',
 'The Shack',
 'Chasing the Dragon',
 'Tiger Zinda Hai',
 'A Taxi Driver',
 'Once Upon A Time',
 'Lady Bird',
 'Victoria & Abdul',
 'How to Be a Latin Lover',
 "Molly's Game",
 'Xian yi ren X de xian shen',
 'Shock Wave',
 'Goldbuster',
 'All the Money in the World',
 'The Big Sick',
 'Confidential Assignment',
 'I, Tonya',
 'Phantom Thread',
 'Son of Bigfoot',
 'The Thousand Faces of Dunjia',
 'The Battleship Island',
 'Battle of Memories',
 'Loving Vincent',
 'Call Me by Your Name',
 "Mary and the Witch's Flower",
 'Fist Fight',
 'Brotherhood of Blades 2',
 'Pokémon the Movie: I Choose You!',
 'The Adventurers',
 'Tad, the Lost Explorer, and the Secret of King Midas',
 'Hostiles',
 'Namiya',
 'I Want to Eat Your Pancreas',
 'Perfect Strangers',
 'Sleepless',
 'This Is Not What I Expected',
 'The Disaster Artist',
 'The Swindlers',
 'Sword Art Online the Movie: Ordinal Scale',
 'Judwaa 2',
 'The Fortress',
 'Monster Family',
 'The Beguiled',
 "The Zookeeper's Wife",
 'The Bride of Badrinath',
 'Father Figures',
 'Fireworks',
 'Leap!',
 'The Death of Stalin',
 'Jolly LLB 2',
 'I Can Speak',
 'Extraordinary Mission',
 'The Glass Castle',
 'Finding Dory',
 'Zootopia',
 'The Mermaid',
 'Your Name.',
 'Now You See Me 2',
 'Dangal',
 'The Monkey King 2',
 'Allegiant',
 'Operation Mekong',
 'Mechanic: Resurrection',
 'I Belonged to You',
 'Book of Love',
 '10 Cloverfield Lane',
 'Neighbors 2: Sorority Rising',
 'Cold War 2',
 'Railroad Tigers',
 'Some Like It Hot',
 'Train to Busan',
 'My Big Fat Greek Wedding 2',
 'Sultan',
 'War Dogs',
 'Shin Godzilla',
 'I Am Not Madame Bovary',
 'One Piece Film: Gold',
 'Monster Trucks',
 'Huo guo ying xiong',
 'L.O.R.D: Legend of Ravaging Dynasties',
 'Zoolander 2',
 'Barbershop: The Next Cut',
 'The Age of Shadows',
 'Tunnel',
 'The Finest Hours',
 'Master',
 'The Wailing',
 'Never Gone',
 'Luck-Key',
 "Yo-kai Watch Movie: It's the Secret of Birth, Meow!",
 'A Monster Calls',
 'Café Society',
 'League of Gods',
 'The Wild Life',
 'Absolutely Fabulous: The Movie',
 'Crouching Tiger, Hidden Dragon: Sword of Destiny',
 'The Handmaiden',
 'Eye in the Sky',
 'Ae Dil Hai Mushkil',
 "Billy Lynn's Long Halftime Walk",
 'Norm of the North',
 'Nocturnal Animals',
 'A Silent Voice: The Movie',
 'Jackie',
 'Masterminds',
 'M.S. Dhoni: The Untold Story',
 'Fan',
 'The Brothers Grimsby',
 'A Beautiful Planet',
 'Mr. Donkey',
 'Born in China',
 'Race',
 'The Snow Queen 3: Fire and Ice',
 "God's Not Dead 2",
 'The Founder',
 "Spirits' Homecoming",
 'Silence',
 'No Manches Frida',
 'Triple 9',
 'Rock Dog',
 'Monster Hunt',
 'The Good Dinosaur',
 'Mojin: The Lost Legend',
 'Lost in Hong Kong',
 "Daddy's Home",
 'Alvin and the Chipmunks: The Road Chip',
 'Goodbye Mr. Loser',
 'Ip Man 3',
 'Detective Chinatown',
 'Wolf Totem',
 'Dragon Blade',
 'Shaun the Sheep Movie',
 'Spotlight',
 'Devil and Angel',
 'The Little Prince',
 'Assassination',
 'Veteran',
 'Kill Zone 2',
 'Go Away Mr. Tumor',
 'The Transporter Refueled',
 'The Age of Adaline',
 'Zhongkui: Snow Girl and the Dark Crystal',
 'The Danish Girl',
 'Brooklyn',
 "Dragon Ball Z: Resurrection 'F'",
 'Forever Young',
 'Miss Granny',
 'No Escape',
 'Prem Ratan Dhan Payo',
 'The Himalayas',
 'The Boy and the Beast',
 'Surprise',
 'The Woman in Black 2: Angel of Death',
 "Let's Get Married",
 'Somewhere Only We Know',
 'McFarland, USA',
 'Hero',
 'Legend',
 'The Lady in the Van',
 'Carol',
 'Northern Limit Line',
 'Criminal',
 'Boruto: Naruto the Movie',
 'A Walk in the Woods',
 'The Priests',
 'Room',
 'Lost and Love',
 'Victor Frankenstein',
 'The Witness',
 'Dilwale',
 'Suffragette',
 'Saving Mr. Wu',
 'Attack on Titan Part 1',
 'A Man Called Ove',
 'Far from the Madding Crowd',
 'Mr. Holmes',
 'Love & Mercy',
 'The 33',
 'Irrational Man',
 'Detective K: Secret of the Lost Island',
 'The Hobbit: The Battle of the Five Armies',
 'The Amazing Spider-Man 2',
 'The Imitation Game',
 'The Expendables 3',
 'Breakup Buddies',
 'The Taking of Tiger Mountain',
 'The Admiral: Roaring Currents',
 'The Breakup Guru',
 'PK',
 'Ode to My Father',
 'Fleet of Time',
 'Step Up All In',
 'Son of God',
 'Beijing Love Story',
 'The Pirates',
 'Begin Again',
 'St. Vincent',
 'Wild',
 'Magic in the Moonlight',
 'Chef',
 'Coming Home',
 'Beauty and the Beast',
 'Love on the Cloud',
 'Kick',
 'Bang Bang',
 'As Above, So Below',
 'The November Man',
 'Sin City: A Dame to Kill For',
 'Samba',
 'Women Who Flirt',
 'But Always',
 'A Most Wanted Man',
 'Kundo: Age of the Rampant',
 'When Marnie Was There',
 'Get on Up',
 'Wild Tales',
 'Tazza: The Hidden Card',
 'Draft Day',
 'Big Eyes',
 'The Divine Move',
 'A Hard Day',
 'Top Five',
 'Iceman',
 'Love, Rosie',
 'And So It Goes',
 'Kung Fu Jungle',
 'The Hobbit: The Desolation of Smaug',
 'Monsters University',
 'Journey to the West: Conquering the Demons',
 'Escape Plan',
 'Personal Tailor',
 'So Young',
 'Instructions Not Included',
 'Blue Jasmine',
 'Young Detective Dee: Rise of the Sea Dragon',
 'Police Story: Lockdown',
 'Dhoom 3',
 'About Time',
 'Snowpiercer',
 'Finding Mr. Right',
 'The Attorney',
 'Tiny Times',
 'The Book Thief',
 'August: Osage County',
 'Stalingrad',
 'Thunder and the House of Magic',
 'The Grandmaster',
 'Side Effects',
 'The Face Reader',
 'Snitch',
 'A Madea Christmas',
 'Temptation: Confessions of a Marriage Counselor',
 'The 100 Year-Old Man Who Climbed Out the Window and Disappeared',
 'Dragon Ball Z: Battle of Gods',
 'The Berlin File',
 'Texas Chainsaw',
 'Tiny Times 2.0',
 'Like Father, Like Son',
 'Inside Llewyn Davis',
 'Mud',
 'Kevin Hart: Let Me Explain',
 'New World',
 'A Wedding Invitation',
 'Special ID',
 'The Suspect',
 'I Give It a Year',
 'Mandela: Long Walk to Freedom',
 'Khumba',
 "You're Next",
 'The Way Way Back',
 'Enough Said',
 'Drug War',
 'The Tale of The Princess Kaguya',
 'The Great Beauty',
 'The Railway Man',
 'The Hobbit: An Unexpected Journey',
 'The Impossible',
 'Lost in Thailand',
 'The Wind Rises',
 'Cloud Atlas',
 'The Woman in Black',
 'Hope Springs',
 'The Campaign',
 'Project X',
 'The Lucky One',
 'Masquerade',
 'The Thieves',
 'To Rome with Love',
 'Here Comes the Boom',
 'The Cabin in the Woods',
 'Finding Nemo',
 'Anna Karenina',
 'Beauty and the Beast',
 'Evangelion: 3.0 You Can (Not) Redo',
 'Quartet',
 'The Odd Life of Timothy Green',
 'Lawless',
 'Trouble with the Curve',
 'A Werewolf Boy',
 'Safe',
 'Chernobyl Diaries',
 'Conquest 1453',
 'Good Deeds',
 'Arbitrage',
 'Chimpanzee',
 'Salmon Fishing in the Yemen',
 'Cirque du Soleil: Worlds Away',
 "2016: Obama's America",
 'The Perks of Being a Wallflower',
 "What's in a Name?",
 'Joyful Noise',
 'Playing for Keeps',
 'Rowdy Rathore',
 'Bol Bachchan',
 'The Master',
 'Hitchcock',
 'Agneepath',
 'Rust and Bone',
 'On the Other Side of the Tracks',
 'Housefull 2',
 'The Players',
 'Wanderlust',
 'To the Arctic 3D',
 'Kon-Tiki',
 'Upside Down',
 'Harry Potter and the Deathly Hallows: Part 2',
 'Sherlock Holmes: A Game of Shadows',
 'The Intouchables',
 'The Adventures of Tintin',
 'Real Steel',
 'Gnomeo & Juliet',
 'Hugo',
 'The Descendants',
 'Happy Feet Two',
 'Arthur Christmas',
 'We Bought a Zoo',
 'The Iron Lady',
 'Justin Bieber: Never Say Never',
 'The Inbetweeners',
 'Tinker Tailor Soldier Spy',
 'The Ides of March',
 'From Up on Poppy Hill',
 'Beginning of the Great Revival',
 'Extremely Loud & Incredibly Close',
 "Madea's Big Happy Family",
 'War of the Arrows',
 'Winnie the Pooh',
 'Shaolin',
 'Born to Be Wild',
 'Drive Angry',
 'The Roommate',
 'Ra.One',
 'My Week with Marilyn',
 'Jane Eyre',
 'The Skin I Live In',
 'Bodyguard',
 'African Cats',
 'A Dangerous Method',
 'Carnage',
 'The Women on the 6th Floor',
 'Ready',
 'Hoodwinked Too! Hood vs. Evil',
 'A Separation',

In [246]:
# convert csv to dataframe
revenue = pd.read_csv(os.path.join(data_path, 'processed_data.csv'))

In [257]:
# rename column
data.rename(columns = {'Name': 'Release Group'}, inplace=True)

C:\Users\Phuong Trang\AppData\Local\Temp\ipykernel_23932\1877474532.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.rename(columns = {'Name': 'Release Group'}, inplace=True)

In [258]:
data

,Release Group,Domestic Distributor,Earliest Release date,Earliest Release region,MPAA,Running Time,Genres,Overview,Actors,Film makers
1,Godzilla x Kong: The New Empire,Warner Bros.,"March 27, 2024",APAC,PG-13,1 hr 55 min,Action Adventure Sci-Fi Thriller,"Two ancient titans, Godzilla and Kong, clash i...","['Rebecca Hall', 'Brian Tyree Henry', 'Dan Ste...","['Adam Wingard', 'Terry Rossio', 'Simon Barret..."
2,Kung Fu Panda 4,Universal Pictures,"March 6, 2024","APAC, EMEA",PG,1 hr 34 min,Action Adventure Animation Comedy Family Fantasy,After Po is tapped to become the Spiritual Lea...,"['Jack Black', 'Awkwafina', 'Viola Davis', 'Du...","['Mike Mitchell', 'Stephanie Stine', 'Jonathan..."
3,Ghostbusters: Frozen Empire,Sony Pictures Releasing,"March 20, 2024",Indonesia,PG-13,1 hr 55 min,Adventure Comedy Fantasy Sci-Fi,When the discovery of an ancient artifact unle...,"['Paul Rudd', 'Carrie Coon', 'Finn Wolfhard', ...","['Gil Kenan', 'Gil Kenan', 'Jason Reitman', 'I..."
4,Bob Marley: One Love,Paramount Pictures,"February 14, 2024",11 markets,PG-13,1 hr 47 min,Biography Drama Music,The story of how reggae icon Bob Marley overca...,"['Kingsley Ben-Adir', 'Lashana Lynch', 'James ...","['Reinaldo Marcus Green', 'Terence Winter', 'F..."
5,The Beekeeper,Metro-Goldwyn-Mayer (MGM),"January 10, 2024",Belgium,R,1 hr 45 min,Action Thriller,One man's brutal campaign for vengeance takes ...,"['Jason Statham', 'Emmy Raver-Lampman', 'Bobby...","['David Ayer', 'Kurt Wimmer', 'David Ayer', 'B..."
...,...,...,...,...,...,...,...,...,...,...
5450,Left Luggage,Castle Hill Productions,"September 22, 2000",Domestic,G,1 hr 40 min,Drama,"Against a background of holocaust memories, a ...","['Laura Fraser', 'Adam Monty', 'Isabella Rosse...","['Jeroen Krabbé', 'Carl Friedman', 'Edwin de V..."
5451,Blood Simple,Circle Films,"January 18, 1985",Domestic,G,1 hr 39 min,Crime Drama Thriller,The owner of a seedy small-town Texas bar disc...,"['John Getz', 'Frances McDormand', 'Dan Hedaya...","['Joel Coen', 'Ethan Coen', 'Joel Coen', 'Etha..."
5453,Hamlet,Miramax,"May 12, 2000",Domestic,R,1 hr 52 min,Drama Romance Thriller,Modern-day New York City adaptation of Shakesp...,"['Ethan Hawke', 'Kyle MacLachlan', 'Diane Veno...","['Michael Almereyda', 'William Shakespeare', '..."
5454,The Broken Hearts Club: A Romantic Comedy,Sony Pictures Classics,"September 29, 2000",Domestic,G,1 hr 34 min,Comedy Drama Romance Sport,An insight into the turbulent lives and loves ...,"['Timothy Olyphant', 'Dean Cain', 'Zach Braff'...","['Greg Berlanti', 'Greg Berlanti', 'Mickey Lid..."
5455,Cecil B. Demented,Artisan Entertainment,"August 11, 2000",Domestic,R,1 hr 27 min,Comedy Crime Thriller,An insane independent film director and his re...,"['Melanie Griffith', 'Stephen Dorff', 'Alicia ...","['John Waters', 'John Waters', 'Joseph M. Cara..."

In [253]:
# drop unnecessary column
revenue = revenue.drop('Unnamed: 0', axis=1)

In [254]:
revenue

,Release Group,Worldwide,Domestic,Foreign,Year
0,Dune: Part Two,697757968.0,277757968.0,420000000.0,2024
1,Godzilla x Kong: The New Empire,489580032.0,174480032.0,315100000.0,2024
2,Kung Fu Panda 4,482850846.0,181449090.0,301401756.0,2024
3,Ghostbusters: Frozen Empire,177549359.0,104137915.0,73411444.0,2024
4,Bob Marley: One Love,177193170.0,96893170.0,80300000.0,2024
...,...,...,...,...,...
4995,Hamlet,2046433.0,1577287.0,469146.0,2000
4996,The Broken Hearts Club: A Romantic Comedy,2019121.0,1746585.0,272536.0,2000
4997,Cecil B. Demented,1961544.0,1284646.0,676898.0,2000
4998,The Life and Times of Hank Greenberg,1712385.0,1712385.0,0.0,2000
4999,The Girl on the Bridge,1708839.0,1708839.0,0.0,2000

In [259]:
# Gộp dataframe dựa trên cột chung là 'Name' và 'Release Group'
movies = pd.merge(data, revenue)

movies

,Release Group,Domestic Distributor,Earliest Release date,Earliest Release region,MPAA,Running Time,Genres,Overview,Actors,Film makers,Worldwide,Domestic,Foreign,Year
0,Godzilla x Kong: The New Empire,Warner Bros.,"March 27, 2024",APAC,PG-13,1 hr 55 min,Action Adventure Sci-Fi Thriller,"Two ancient titans, Godzilla and Kong, clash i...","['Rebecca Hall', 'Brian Tyree Henry', 'Dan Ste...","['Adam Wingard', 'Terry Rossio', 'Simon Barret...",489580032.0,174480032.0,315100000.0,2024
1,Kung Fu Panda 4,Universal Pictures,"March 6, 2024","APAC, EMEA",PG,1 hr 34 min,Action Adventure Animation Comedy Family Fantasy,After Po is tapped to become the Spiritual Lea...,"['Jack Black', 'Awkwafina', 'Viola Davis', 'Du...","['Mike Mitchell', 'Stephanie Stine', 'Jonathan...",482850846.0,181449090.0,301401756.0,2024
2,Ghostbusters: Frozen Empire,Sony Pictures Releasing,"March 20, 2024",Indonesia,PG-13,1 hr 55 min,Adventure Comedy Fantasy Sci-Fi,When the discovery of an ancient artifact unle...,"['Paul Rudd', 'Carrie Coon', 'Finn Wolfhard', ...","['Gil Kenan', 'Gil Kenan', 'Jason Reitman', 'I...",177549359.0,104137915.0,73411444.0,2024
3,Bob Marley: One Love,Paramount Pictures,"February 14, 2024",11 markets,PG-13,1 hr 47 min,Biography Drama Music,The story of how reggae icon Bob Marley overca...,"['Kingsley Ben-Adir', 'Lashana Lynch', 'James ...","['Reinaldo Marcus Green', 'Terence Winter', 'F...",177193170.0,96893170.0,80300000.0,2024
4,The Beekeeper,Metro-Goldwyn-Mayer (MGM),"January 10, 2024",Belgium,R,1 hr 45 min,Action Thriller,One man's brutal campaign for vengeance takes ...,"['Jason Statham', 'Emmy Raver-Lampman', 'Bobby...","['David Ayer', 'Kurt Wimmer', 'David Ayer', 'B...",152720535.0,66220535.0,86500000.0,2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1561,Shower,Sony Pictures Releasing,"July 7, 2000",Domestic,PG-13,1 hr 32 min,Comedy Drama,A young wealthy businessman's icy attitude tow...,"['Jiayi Du', 'Zheng Fang', 'Bing He', 'Wu Jiang']","['Yang Zhang', 'Yang Zhang', 'Fendou Liu', 'Xi...",2150929.0,1157764.0,993165.0,2000
1562,Left Luggage,Castle Hill Productions,"September 22, 2000",Domestic,G,1 hr 40 min,Drama,"Against a background of holocaust memories, a ...","['Laura Fraser', 'Adam Monty', 'Isabella Rosse...","['Jeroen Krabbé', 'Carl Friedman', 'Edwin de V...",2111280.0,1069540.0,1041740.0,2000
1563,Hamlet,Miramax,"May 12, 2000",Domestic,R,1 hr 52 min,Drama Romance Thriller,Modern-day New York City adaptation of Shakesp...,"['Ethan Hawke', 'Kyle MacLachlan', 'Diane Veno...","['Michael Almereyda', 'William Shakespeare', '...",2046433.0,1577287.0,469146.0,2000
1564,The Broken Hearts Club: A Romantic Comedy,Sony Pictures Classics,"September 29, 2000",Domestic,G,1 hr 34 min,Comedy Drama Romance Sport,An insight into the turbulent lives and loves ...,"['Timothy Olyphant', 'Dean Cain', 'Zach Braff'...","['Greg Berlanti', 'Greg Berlanti', 'Mickey Lid...",2019121.0,1746585.0,272536.0,2000
1565,Cecil B. Demented,Artisan Entertainment,"August 11, 2000",Domestic,R,1 hr 27 min,Comedy Crime Thriller,An insane independent film director and his re...,"['Melanie Griffith', 'Stephen Dorff', 'Alicia ...","['John Waters', 'John Waters', 'Joseph M. Cara...",1961544.0,1284646.0,676898.0,2000

In [261]:
movies['Genres'].dtype

dtype('O')

In [263]:
movies['Genres'] = movies['Genres'].apply(lambda x : x.split())
movies['Genres']

0                   [Action, Adventure, Sci-Fi, Thriller]
1       [Action, Adventure, Animation, Comedy, Family,...
2                    [Adventure, Comedy, Fantasy, Sci-Fi]
3                               [Biography, Drama, Music]
4                                      [Action, Thriller]
                              ...
1561                                      [Comedy, Drama]
1562                                              [Drama]
1563                           [Drama, Romance, Thriller]
1564                      [Comedy, Drama, Romance, Sport]
1565                            [Comedy, Crime, Thriller]
Name: Genres, Length: 1566, dtype: object

In [264]:
movies['Genres'] = movies['Genres'].astype(str)
movies['Genres']

0           ['Action', 'Adventure', 'Sci-Fi', 'Thriller']
1       ['Action', 'Adventure', 'Animation', 'Comedy',...
2            ['Adventure', 'Comedy', 'Fantasy', 'Sci-Fi']
3                         ['Biography', 'Drama', 'Music']
4                                  ['Action', 'Thriller']
                              ...
1561                                  ['Comedy', 'Drama']
1562                                            ['Drama']
1563                     ['Drama', 'Romance', 'Thriller']
1564              ['Comedy', 'Drama', 'Romance', 'Sport']
1565                      ['Comedy', 'Crime', 'Thriller']
Name: Genres, Length: 1566, dtype: object

In [265]:
movies.dtypes

Release Group               object
Domestic Distributor        object
Earliest Release date       object
Earliest Release region     object
MPAA                        object
Running Time                object
Genres                      object
Overview                    object
Actors                      object
Film makers                 object
Worldwide                  float64
Domestic                   float64
Foreign                    float64
Year                         int64
dtype: object

In [1]:
movies.to_csv('final_data.csv', index=False)

NameError: name 'movies' is not defined